@import "./vars.css";

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--main-bg-color);
  color: var(--text-color);
}

* {
  margin: 0;
  padding: 0;
}

.btn {
  height: 40px;
  padding: 10px;
  cursor: pointer;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header,
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.header img {
  height: 60px;
}

.container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
  gap: 24px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list_item > span {
  font-size: 20px;
}

.list_item > p {
  font-size: 12px;
  color: var(--text-color-black);
}
